@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0a0a0c;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background: #0a0a0c;
  font-family: sans-serif;
}

.backdrop-blur-md {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}